<div class="page-header">
  <h3>Restaurant Owner #<%= @restaurant_owner.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant_owner.name %></dd>

      <dt>Last name</dt>
      <dd><%= @restaurant_owner.last_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurant_owners" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurant_owners/<%= @restaurant_owner.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant_owner/<%= @restaurant_owner.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurant owner has many restaurant_ownerships -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurant_ownerships
      </li>

      <% @restaurant_owner.restaurant_ownerships.each do |restaurant_ownership| %>
        <li class="list-group-item">
          <a href="/restaurant_ownerships/<%= restaurant_ownership.id %>">
            <%= restaurant_ownership.restaurant_owner_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant owner has many review_replies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Review_replies
      </li>

      <% @restaurant_owner.review_replies.each do |review_reply| %>
        <li class="list-group-item">
          <a href="/review_replies/<%= review_reply.id %>">
            <%= review_reply.review_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
